<!DOCTYPE html>
<html>
<head>
  <title>NinefoldDummyApp</title>
  <%= stylesheet_link_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nf-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <footer>Version: 3.0.9</footer>
</body>
</html>
